* {
    background-color: #F3F4F8;
}

.right button {
    padding: 1em;
    border-radius: 3em;
    color: white;
    background-color: #1B006E;
    width: 100%;
    transition: .1s;
}

button:hover {
    background-color: #16015E;
    transform: scale(1.025, 1);
}

.dotgothic {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left .txt-on-img {
    position: relative;
}

.img-text {
    position: absolute;
    font-size: 2.5rem;
    writing-mode: vertical-lr;
    text-orientation:sideways-right;
    top: 1rem;
    left: -.7rem;
    color: white;
    background-color: transparent;
    opacity: .8;
}

.img-text.black {
    color: black;
}

.main {
    font-size: 2rem;
    font-weight: 550;
}

.sub {
    font-size: 1rem;
}

/* .footer {
    padding: 4rem;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.1rem;
} */

.footer, .footer *{
    background-color: black;
    color: white;
}

.footer ul {
    list-style: none;
}

.footer .right {
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
    flex: 1;
}

.right input {
    border: 1px solid white;
    padding: 1em;
    border-radius: 1em;
    min-width: 100%;
}

@media (min-width: 768px) {

    .img-text {
        font-size: 4rem;
    }
    
    .main {
        font-size: 3.5rem;
    }
    
    .sub {
        font-size: 1.2rem;
    }
}