* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #F3F4F8;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
}

button {
    padding: 1em;
    border-radius: 3em;
    color: white;
    background-color: #1B006E;
    width: 100%;
    transition: .1s;
}

button:hover {
    background-color: #16015E;
    transform: scale(1.025, 1);
}

.dotgothic {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flexbox {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex1 {
    flex: 1;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.header .logo {
    font-size: 1.3rem;
}

.links {
    gap: 2rem;
}

.split {
    flex-direction: column;
}

.left {
    width: 100%;
    overflow: hidden;
}

.right {
    justify-content: end;
    align-items: start;
    gap: 2rem;
    padding: 2rem;
}

.left .container {
    position: relative;
}

.container .img-text {
    position: absolute;
    font-size: 4rem;
    writing-mode: vertical-lr;
    text-orientation:sideways-right;
    top: 1rem;
    left: -.7rem;
    color: white;
    background-color: transparent;
    opacity: .8;
}

.img-text.black {
    color: black;
}

.main {
    font-size: 2rem;
    font-weight: 550;
}

.sub {
    font-size: 1.2rem;
}

.button {
    width: 100%;
}

.testimonials {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.testimonials .card {
    padding: 1em;
    gap: 1rem;
    font-size: 1.8rem;
    text-align: center;
}

.card .card-main {
    font-weight: 600;
}

.footer {
    padding: 4rem;
    justify-content: space-between;
    gap: 2rem;
    font-size: 1.1rem;
}

.footer, .footer *{
    background-color: black;
    color: white;
}

.footer .left {
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    flex: 1.5;
}

.left .head {
    margin-bottom: 1rem;
}

.footer ul {
    list-style: none;
}

.footer .right {
    justify-content: start;
    align-items: stretch;
    gap: 2rem;
    flex: 1;
}

hr {
    color: red;
    /* border: 1px solid; */
    /* height: 2px; */
}

.right input {
    border: 1px solid white;
    padding: 1em;
    border-radius: 1em;
    min-width: 100%;
}

@media (min-width: 1024px) {
    .split {
        flex-direction: row;
    }

    .left {
        width: 67%;
    }

    .main {
        font-size: 3.5rem;
    }

}

@media (min-width: 750px) {
    .testimonials {
        flex-direction: row;
    }
}